{{#if selected_bt}}
<div class="bt-structure-panel">
	<div class="bt-structure-toolbar">
		<select data-node-type-select class="bt-toolbar-select">
			<optgroup label="Composite">
				{{#each node_types.composite}}
				<option value="{{this.type}}">{{this.label}}</option>
				{{/each}}
			</optgroup>
			<optgroup label="Decorator">
				{{#each node_types.decorator}}
				<option value="{{this.type}}">{{this.label}}</option>
				{{/each}}
			</optgroup>
			<optgroup label="Condition">
				{{#each node_types.condition}}
				<option value="{{this.type}}">{{this.label}}</option>
				{{/each}}
			</optgroup>
			<optgroup label="Action">
				{{#each node_types.action}}
				<option value="{{this.type}}">{{this.label}}</option>
				{{/each}}
			</optgroup>
		</select>
		<button type="button" data-action="add-node" class="bt-toolbar-btn">{{localize "dc-npc-patrols.editor.add_child"}}</button>
		<button type="button" data-action="add-sibling" class="bt-toolbar-btn">{{localize "dc-npc-patrols.editor.add_sibling"}}</button>
		<button type="button" data-action="delete-node" class="bt-toolbar-btn bt-toolbar-btn-danger">{{localize "dc-npc-patrols.panel.delete"}}</button>
		<button type="button" data-action="move-up" class="bt-toolbar-btn" title="Move up">↑</button>
		<button type="button" data-action="move-down" class="bt-toolbar-btn" title="Move down">↓</button>
	</div>

	<div class="bt-structure-toolbar bt-fragment-toolbar">
		<select data-fragment-select class="bt-toolbar-select" {{#unless can_insert_fragment}}disabled{{/unless}}>
			<option value="">{{localize "dc-npc-patrols.bt.fragment_select"}}</option>
			{{#each fragments}}
			<option value="{{this.id}}">{{this.name}}</option>
			{{/each}}
		</select>
		<button type="button" data-action="insert-fragment" class="bt-toolbar-btn" {{#unless can_insert_fragment}}disabled{{/unless}}>
			{{localize "dc-npc-patrols.bt.insert_fragment"}}
		</button>
		<button type="button" data-action="link-fragment" class="bt-toolbar-btn" {{#unless can_link_fragment}}disabled{{/unless}}>
			{{localize "dc-npc-patrols.bt.link_fragment"}}
		</button>
		<button type="button" data-action="save-as-fragment" class="bt-toolbar-btn" {{#unless can_save_as_fragment}}disabled{{/unless}}>
			{{localize "dc-npc-patrols.bt.save_as_fragment"}}
		</button>
	</div>

	<div class="bt-structure-tree">
		{{#each tree_nodes}}
		<div class="bt-node {{this.category}} level-{{this.level}} {{#if this.selected}}selected{{/if}} {{#if this.is_preview}}bt-node-preview{{/if}}"
			 {{#unless this.is_preview}}data-node-id="{{this._id}}"{{/unless}}
			 style="padding-left: {{this.indent}}px;">
			<span class="bt-node-stripe bt-node-stripe-{{this.category}}"></span>
			<i class="fa-solid {{this.icon}}"></i>
			<span class="bt-node-label">{{this.label}}</span>
			{{#if this.summary}}
			<span class="bt-node-summary">{{this.summary}}</span>
			{{/if}}
			<span class="bt-node-type">{{this.type}}</span>
		</div>
		{{/each}}
	</div>
</div>
{{else}}
<div class="editor-panel-empty">{{localize "dc-npc-patrols.editor.select_bt"}}</div>
{{/if}}
